.sideNav
{
    display: block;
    padding: 8px;
    background-color: #333;
    float: right;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li
{
    float: left;
}
li a 
{
    display: block;
    color: white;
    text-align: center;
 
    
    
}
li a:hover
{
    background-color: #ffffff;
}
.active
{
    background-color: #008B8B;
}


ul{
    position: fixed;
    top: 0;
    width: 100%;
  
}
a:link
{
    text-decoration: none!important;
    
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;
}

.sidenav a 
{
    padding: 6px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus
{
    color: #f1f1f1;
}
.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.horizontalnav
{
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: .5s;
}
.horizontalnav a
{
	padding: 6px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.horizontalnav .closehorizontalbtn
{
	position: absolute;
	top: -25px;
	font-size: 36px;
	margin-top: 50px;
}
.closehorizontalbtn
{
    position: absolute;
    top: 25px;
    right: 0px;
    font-size: 36px;
    margin-bottom: 50px;
}
#main 
{
    transition: margin-left .5s;
    transition: margin-bottom .5s;
    padding: 20px;
}
@media screen and (max-height: 450px)
{
    .sidenav {padding-top:15px;}
    .sidenav a {font-size: 18px;}
    
}
